# bundler config and Gemfile.lock
/.bundle/
/Gemfile.lock

# test coverage results and rspec artifacts
.rspec_status
/spec/reports/
/coverage/

# IDE/Editor artifacts
.idea/
*.sublime-*
*.swo
*.swp
default.vim
default.vim.lock

# .DS_Store
.DS_Store

# build caches & artifacts
/.yardoc
/_yardoc/
/doc/

# .gem files
*.gem

# other dirs
/pkg/
/tmp/

